HRMSWEBAP/Service References/HrmsReference/HrmsService42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51532/HrmsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DemoService" />
  <xs:element name="GetEmployeeAttendanceDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeAttendanceDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DemoService" minOccurs="0" name="GetEmployeeAttendanceDetailsResult" nillable="true" type="q1:UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DemoService" minOccurs="0" name="uin" nillable="true" type="q2:UserInfo" />
        <xs:element minOccurs="0" name="searchflg" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DemoService" minOccurs="0" name="GetDataResult" nillable="true" type="q3:ArrayOfUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmpId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DemoService" minOccurs="0" name="GetUserDataResult" nillable="true" type="q4:ArrayOfUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DemoService" minOccurs="0" name="uinfo" nillable="true" type="q5:ArrayOfUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DemoService" minOccurs="0" name="ValidateUserResult" nillable="true" type="q6:ArrayOfUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertHrmsQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DemoService" minOccurs="0" name="hqi" nillable="true" type="q7:ArrayOfHrmsQueryInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertHrmsQueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DemoService" minOccurs="0" name="InsertHrmsQueryResult" nillable="true" type="q8:CRUDStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DemoService" minOccurs="0" name="ui" nillable="true" type="q9:UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DemoService" minOccurs="0" name="RemoveEmployeeResult" nillable="true" type="q10:CRUDStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAttendance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/DemoService" minOccurs="0" name="uinfo" nillable="true" type="q11:ArrayOfUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAttendanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/DemoService" minOccurs="0" name="AddAttendanceResult" nillable="true" type="q12:ArrayOfCRUDStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttendanceDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empid" type="xs:int" />
        <xs:element minOccurs="0" name="startdate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="enddate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IsReport" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttendanceDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/DemoService" minOccurs="0" name="GetAttendanceDetailsResult" nillable="true" type="q13:ArrayOfUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLeaveStatistics">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmpId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLeaveStatisticsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/DemoService" minOccurs="0" name="GetLeaveStatisticsResult" nillable="true" type="q14:ArrayOfLeaveInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeLeaveDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmpId" type="xs:int" />
        <xs:element minOccurs="0" name="userType" type="xs:int" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/DemoService" minOccurs="0" name="lv" nillable="true" type="q15:LeaveInfo" />
        <xs:element minOccurs="0" name="IsReport" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeLeaveDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/DemoService" minOccurs="0" name="GetEmployeeLeaveDetailsResult" nillable="true" type="q16:ArrayOfLeaveInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLeaveDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/DemoService" minOccurs="0" name="linfo" nillable="true" type="q17:ArrayOfLeaveInfo" />
        <xs:element minOccurs="0" name="apFlag" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLeaveDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/DemoService" minOccurs="0" name="AddLeaveDetailsResult" nillable="true" type="q18:CRUDStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnoughLeaves">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmpId" type="xs:int" />
        <xs:element minOccurs="0" name="LeaveTypeStr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnoughLeavesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnoughLeavesResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Upload">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/DemoService" minOccurs="0" name="image" nillable="true" type="q19:ImageFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLeaveDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/DemoService" minOccurs="0" name="linfo" nillable="true" type="q20:ArrayOfLeaveInfo" />
        <xs:element minOccurs="0" name="chFlag" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLeaveDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/DemoService" minOccurs="0" name="UpdateLeaveDetailsResult" nillable="true" type="q21:CRUDStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/DemoService" minOccurs="0" name="uinfo" nillable="true" type="q22:ArrayOfUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/DemoService" minOccurs="0" name="UpdateProfileResult" nillable="true" type="q23:CRUDStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>